@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  --play: "Playfair Display";
  --plus: "Plus Jakarta Sans";
}
body {
  background-color: #feefda;
  padding: 0px 10vw;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#header-left {
  font-family: var(--play);
  background-color: #b2444a;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0px;
  padding-left: 40px;
}
#header-right {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: var(--plus);
  font-weight: 500;
  color: #121212;
  padding: 20px 0px;
  padding-left: 150px;
  grid-gap: 15px;
  place-items: center end;
}
#hero-left {
  background-color: #b2444a;
  font-family: var(--plus);
  font-weight: 700;
  font-size: 120px;
  color: white;
  display: grid;
  place-items: end start;
}
#hero-right {
  display: grid;
  grid-gap: 40px;
}
#hero-pad {
  display: grid;
  grid-gap: 40px;
  padding: 50px 100px;
}
#hero-middle-right {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 30px;
  align-items: center;
  text-align: center;
}
#How {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 10px;
  place-items: center;
}
#taste {
  font-family: var(--play);
  font-weight: 700;
  font-size: 80px;
}
#taste-bottom {
  font-family: var(--plus);
  font-size: 18px;
  color: #121212;
  line-height: 32px;
}
#Order {
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  background-color: black;
  color: white;
  border-radius: 100px;
  padding: 20px 0px;
  cursor: pointer;
}
#How-text {
  color: #020202;
  font-family: var(--plus);
}
#sushi-1 {
  position: absolute;
  top: 10vh;
  width: 550px;
}
#hero-bottom {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 60px;
  background-color: white;
  padding: 30px 0px;
  place-items: center;
}
#hero-bottom-left {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  place-items: center;
}
#two-four-k {
  font-family: var(--play);
  font-size: 62px;
}
#customers {
  font-family: var(--plus);
  color: #121212;
}
#hero-bottom-right {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  grid-gap: 20px;
  padding-left: 30px;
  border-left: 1px solid rgba(2, 2, 2, 0.1);
}
#user img {
  width: 40px;
  border-radius: 100px;
}
#user-text {
  font-family: var(--plus);
  color: #121212;
  font-size: 12px;
  line-height: 32px;
}
